<label> Server Name </label>
<br />
<br />
<!--<input type="text" [(ngModel)]="serverName" />
<br />
<button [disabled]="!allowNewServer" (click)="onCreateServer()">Click</button>
 <p>{{ serverCreationStatus }}</p> 
<p *ngIf='serverCreated' >Server was creared {{ serverName }}</p>-->

<button (click)="showMessage()">Display Details</button>

<p *ngIf="messageIsVivible">Secret Password = Beach Bitch</p>

<p
  *ngFor="let numItem of numOfClicks; let idx = index"
  [ngStyle]="{ backgroundColor: idx > 4 ? 'blue' : 'transpsrent' }"
  [ngClass]="{ textColor: idx > 4 }"
>
  {{ numItem }}
</p>
